<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: 'Resources'}); %>
</head>

<body>
  <div class="container">
    <%- include('../partials/header'); %>

    Hello world

    <%- include('../partials/footer'); %>
  </div>
</body>

</html>
