<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: 'Resources'}); %>
</head>

<body>
  <%- include('../partials/header'); %>
  <div class="container">


    <div class="row">
      <div class="col m3"></div>
      <div class="col m6 s12">
        <a href="/categories">View all categories</a>
        <%- include('../partials/footer'); %>
      </div>
      <div class="col m3"></div>
    </div>
  </div>
</body>

</html>
