<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs', {title: 'Resources'}); %>
</head>

<body>
  <div class="container">
    <%- include('../partials/header.ejs'); %>

    Hello world

    <%- include('../partials/footer.ejs'); %>
  </div>
</body>

</html>
