<div class="row header">
  <div class="col s2"></div>
  <div class="col s8">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="">
          <h1>Resources</h1>
        </a>
        <!-- <ul>
          <li><i class="large material-icons">insert_chart</i></li>
        </ul> -->
        <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul> -->
      </div>
    </nav>
  </div>
  <div class="col s2"></div>
</div>
