<h5 class="section"><%= sectionTitle %></h5>
<% for(const [subSectionTitle, items] of Object.entries(sections)) { %>
<div class="collection with-header">

  <div href="#!" class="collection-header">
    <h6><%= subSectionTitle %></h6>
  </div>

  <% for(const item of items) { %>
  <a href="<%= item.url %>" class="collection-item"><%= item.name %></a>
  <% } %>

</div>
<% } %>
