$primary-color: rgb(36, 241, 53) !default;
$tabs-text-color: white;
@import '../../node_modules/materialize-css/sass/materialize.scss';

h1 {
  font-size: 30px; // This is in px because the navbar height is also in px
  padding-top: 10px;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  font-size: 1.25rem;
}

.header {
  margin-bottom: 0;
}

// https://github.com/Dogfalo/materialize/blob/v1-dev/sass/components/_tabs.scss
.tabs {
  .tab a {
    background-color: darken($tabs-underline-color, 22);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    height: 34px;
    line-height: 34px;
    text-transform: none;

    &:focus,
    &:focus.active,
    &:hover {
      background-color: darken($tabs-underline-color, 15);
      color: white;
    }
    &.active {
      background-color: darken($tabs-underline-color, 10);
    }
  }
}

.item-hostname {
  color: #026962;
}

.subreddit-text {
  .item-name,
  .item-hostname {
    color: rgb(226, 155, 1);
  }
}

.wikipedia {
  table {
    display: none;
  }

  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.9rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.3rem;
  }
  h6 {
    font-size: 1.05rem;
  }
}

// materialize:
// preloader
// collapsible
// tabs (change look)
