$primary-color: lighten(rgb(3, 218, 218), 2) !default;
@import '../../node_modules/materialize-css/sass/materialize.scss';

.button {
  color: blue;

  .text {
    color: white;
  }
}

// materialize:
// preloader
// collapsible
// tabs (change look)
